.heroslider {
	position: relative;
	height: 450px;
	background-color: #002776;
	color: #F1F1F1;

	.logo {
		width: 250px;
		max-width: 100%;
	}
	
	&.slim {
		height: 200px;

		.logo {
			width: 150px;
		}
	}

	&::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		background-image: url(./photos/heroslider.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.3;
	}

	> .container {
		padding-top: 25px;
		padding-bottom: 25px;
		height: 100%;

		> .row {
			height: 100%;
			align-items: center;
		}
	}
}

@media screen and (max-width: 767px) {
	.heroslider {
		height: 600px;

		&.slim {
			height: 150px;

			h1 {
				font-size: 18pt;
			}
		}
	}
}